<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


<!-- cache-->
 <servlet>
    <servlet-name>cachebasic</servlet-name>
    <servlet-class>com.baidu.cloudservice.memcache.BaeMemcacheBasic</servlet-class>
</servlet>
 <servlet>
    <servlet-name>cachelocker</servlet-name>
    <servlet-class>com.baidu.cloudservice.memcache.BaeMemcacheLocker</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>cachebasic</servlet-name>
  	<url-pattern>/cache/basic</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>cachelocker</servlet-name>
  	<url-pattern>/cache/locker</url-pattern>
</servlet-mapping>

      
<!-- image-->      
 <servlet>
    <servlet-name>annotate</servlet-name>
    <servlet-class>com.baidu.cloudservice.image.ApplyAnnotate</servlet-class>
</servlet>
<servlet>
    <servlet-name>qrcode</servlet-name>
	<servlet-class>com.baidu.cloudservice.image.ApplyQRCode</servlet-class>
</servlet>
      
<servlet>
    <servlet-name>transform</servlet-name>
	<servlet-class>com.baidu.cloudservice.image.ApplyTransform</servlet-class>
</servlet>
      
 <servlet>
    <servlet-name>composite</servlet-name>
    <servlet-class>com.baidu.cloudservice.image.ApplyComposite</servlet-class>
</servlet> 
      
 <servlet>
    <servlet-name>generatevcode</servlet-name>
    <servlet-class>com.baidu.cloudservice.image.GenerateVCode</servlet-class>
</servlet> 
      
 <servlet>
    <servlet-name>verifyvcode</servlet-name>
    <servlet-class>com.baidu.cloudservice.image.VerifyVCode</servlet-class>
</servlet> 
      
<servlet-mapping>
    <servlet-name>annotate</servlet-name>
  	<url-pattern>/image/annotate</url-pattern>
</servlet-mapping>
      
<servlet-mapping>
    <servlet-name>qrcode</servlet-name>
 	<url-pattern>/image/qrcode</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>transform</servlet-name>
  	<url-pattern>/image/transform</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>composite</servlet-name>
  	<url-pattern>/image/composite</url-pattern>
</servlet-mapping>  
      
<servlet-mapping>
    <servlet-name>generatevcode</servlet-name>
  	<url-pattern>/image/generatevcode</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>verifyvcode</servlet-name>
  	<url-pattern>/image/verifyvcode</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.baidu.cloudservice.image.UploadToBCS</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>upload</servlet-name>
  	<url-pattern>/image/upload</url-pattern>
</servlet-mapping>
      
<!-- mysql-->      
 <servlet>
    <servlet-name>mysql</servlet-name>
    <servlet-class>com.baidu.cloudservice.mysql.MySQLBasic</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>mysql</servlet-name>
  	<url-pattern>/mysql/basic</url-pattern>
</servlet-mapping>
      
<!-- mongo-->      
 <servlet>
    <servlet-name>mongodb</servlet-name>
    <servlet-class>com.baidu.cloudservice.mongodb.MongoDBBasic</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>mongodb</servlet-name>
  	<url-pattern>/mongodb/basic</url-pattern>
</servlet-mapping>

<!-- redis-->      
 <servlet>
    <servlet-name>redis</servlet-name>
    <servlet-class>com.baidu.cloudservice.redis.RedisBasic</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>redis</servlet-name>
  	<url-pattern>/redis/basic</url-pattern>
</servlet-mapping>

<!-- log-->      
 <servlet>
    <servlet-name>log</servlet-name>
    <servlet-class>com.baidu.cloudservice.log.LogBasic</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>log</servlet-name>
  	<url-pattern>/log/basic</url-pattern>
</servlet-mapping>
      
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
